@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg: white;
    --text: #222;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: rgb(40, 44, 53);
        --text: rgba(255, 255, 255, 0.88);
    }
}
